.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: white;
}

.register-button {
    display: flex;
    justify-content: center;
}

.register-container {
    flex-direction: column;
    display: flex;
    justify-content: center;
    justify-self: center;
    height: 100%;
}